html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  #leftBox {
    float: left;
    width: 35%;
    height: 100%;
    background-color: #ccc; 

    
        background-image: url('image.jpg');
        background-repeat: no-repeat;
        background-size: cover;
  }
  
  #rightBox {
    display: flex;
    flex-direction: column;
    float: right;
    width: 65%;
    height: 100%;
  }
  
  .diagBox {
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    overflow: auto;
    float: right;
    width: 100%;
    height: 100%; 
  }
  
  .diagBox:nth-child(odd) {
    margin-right: 10px;
  }
  
  .diagBox:nth-child(n+4) {
    margin-top: 10px;
  }

  #topBox { 
    display: flex; 
    flex-direction: column;
    justify-content: flex-end; 
    padding: 20px 40px;
    font-size: 24px;

  } 

  #writ { 
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 40%; 
    font-weight: bold; 
    
  }
  
  @media (max-width: 768px) {
    .diagBox {
      width: 100%;
      height: auto;
      margin-right: 0;
      margin-top: 10px;
    }

    .diagBox:nth-child(n+4) {
      margin-top: 20px;
    }
  }
  #shadowBox { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-around;
    padding: 15px 40px;

  } 
  #affirm { 
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;  
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
  }
  
  .form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: calc(50% - 10px);
    align-items: flex-start;
  }
  
  .form-row:nth-child(odd) {
    margin-right: 20px;
  }
  
  
  .form-row input {
    border-radius: 9px; 
    border-color: lightgray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    border-width: 1px;
    color: black;
    height: 25px;
    width: 70%;
  } 

  input { 
    color: black; 
    padding-left: 5px;
  }  
  input:focus { 
    outline-color: blue;
    outline-width: .5px;
  }  
  
  .form-row:nth-child(odd) {
    margin-right: 5px;
  }
  
  .form-row label {
    margin-bottom: 1px;
  } 

  #third { 
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: bold;  
    padding: 15px 40px;
  }
  
  #innerThird { 
   margin-top: 20px; 


  }
  .submit { 
    border-radius: 10px;
    width: 14rem;
    height: 3rem; 
    color: white;
    font-family: -Arial, Helvetica, sans-serif;
    background-color: olive; 
    border-width: 1px;
    border-color: white;
    font-weight: bold;
    
  }

  .lbl { 
    letter-spacing: 2px; 
    font-weight: bold;
    margin: 6px;
  } 

  button:hover{
    background-color: black;
    color: white;
    
}